# App
APP_PORT=8000

# Auth
JWT_SECRET=xaxaxaa

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword
DB_NAME=v2xdev

#Teleserver
TELESERVER_PORT=8080

# GCP
GOOGLE_APPLICATION_CREDENTIALS="/Users/xaxa/xaxa-f72ae34edf34.json"
